
/*
&cpu0 {
    clock-frequency = <DT_FREQ_M(27)>;
};
*/


&uart0 {
    current-speed = <115200>;
    reg = <0xfff50000 8>;
};

&imem {
    reg = <0x00000000 DT_SIZE_K(76)>;
};

&dmem {
    reg = <0x80000000 DT_SIZE_K(32)>;
};

&i2c0 {
    status = "okay";

    mcp4725_dac: mcp4725@60 {
        compatible = "microchip,mcp4725";
        reg = <0x60>;
        #io-channel-cells = <1>;
        status = "okay";
    };

    /* Alternative address if A0 is connected to VCC instead of GND
    mcp4725_dac_alt: mcp4725@61 {
        compatible = "microchip,mcp4725";
        reg = <0x61>;
        #io-channel-cells = <1>;
        status = "disabled";
    };
    */
};

