
/*
&cpu0 {
    clock-frequency = <DT_FREQ_M(27)>;
};
*/


&uart0 {
    current-speed = <115200>;
    reg = <0xfff50000 8>;
};

&imem {
    reg = <0x00000000 DT_SIZE_K(76)>;
};

&dmem {
    reg = <0x80000000 DT_SIZE_K(32)>;
};

&i2c0 {
    status = "okay";
    clock-frequency = <100000>; /* 100 kHz - Standard I2C speed */

    mcp4725_dac: mcp4725@60 {
        compatible = "microchip,mcp4725";
        reg = <0x60>;
        #io-channel-cells = <1>;
        status = "okay";
    };
};


